body {
    background-color: #f6ddff;
    font-family: "Montserrat", sans-serif;
}
.main-section {
    position: relative;
    background-image: url(/assets/img/bg-bintang.svg);
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;
}
.center-error {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    background-image: url(/assets/img/bulan.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 13%;
    background-size: 100%;
}

.center-error .inner {
    position: relative;
    padding: 15px;
    text-align: center;
}
.inner h2 {
    font-size: 62px;
    font-weight: 900;
    color: #bc6ae6;
    line-height: 1.5;
    text-shadow: -5px 5px 0px #6a3584;
}
.inner h5 {
    font-weight: 400;
    color: #483552;
    font-size: 18px;
}
.gambar-monster {
    height: 250px;
    margin: 15px auto;
    display: block;
}
.gambar-monster img {
    height: 100%;
}
.inner a {
    background-color: #9a5aba;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .center-error {
        padding-bottom: 12%;
    }
    .gambar-monster {
        margin-bottom: 25px;
        display: block;
    }
}

@media (max-width: 768px) {
    .center-error {
        padding-bottom: 10%;
    }
    .gambar-monster {
        margin-bottom: 25px;
        display: block;
    }
}

@media (max-width: 576px) {
    .center-error {
        padding-bottom: 40%;
        background-size: 1200px;
        background-position: bottom;
    }
    .gambar-monster {
        height: 250px;
        margin: 15px auto;
        display: block;
        margin-bottom: 25px;
    }
    .inner h2 {
        font-size: 58px;
        text-shadow: -3px 3px 0px #6a3584;
    }
    .inner a {
        background-color: #9a5aba;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 14px;
        color: #fff;
    }
}
